body {
    text-align: center;
    background-color: #ffb347;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

a {
    color: #9932CC;
    text-decoration: none;
}

a:hover {
    color: cyan;
    text-decoration: none;
    transition: .5s;
}

#history {
    padding-top: 50px;
}

#theForm {
    float: left;
    border: 3px solid blue;
    border-radius: 15px;
    padding: 15px;
    margin-left: 50px;
}

iframe {
    padding: 10px;
    border: 3px solid blue;
    border-radius: 15px;
}